<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E44DBA7A1C7492F500FAB6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44DBA961C7492F500FAB6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E44DBAA11C7492F500FAB6C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E49A27C01D3482ED00ABB41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
